body {
  background-color: #fff;
  color: #111;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #111;
}
.navbar-default .navbar-nav>li>a {
  color: #111;
}
.navbar-default {
  background-color: #fff;
}

.cards {
  margin: 0 auto;
  width: 40%;
  margin-left: 5em;
  display: inline-block;
}
aside {
  margin: 0 auto;
  width: 20%;
  vertical-align: top;
  display: inline-block;
}
aside.filters>a {
  display: block;
  color: #3498DB;
  cursor: pointer;
}
.card {
  display: inline-block;
  width: 80%;
  margin: 5px auto;
  padding: 1em;
  border: 1px solid #3498DB;
  border-radius: 15px;
  background-color: #fefefe;
  color: #111111;
}
.card > h3 {
  margin: 0 auto;
  text-align: center;
}
.card > h6 {
  margin: 0 auto;
  font-size: .75em;
  text-align: center;
}
.card > ul {
  padding: 10px;
}
.btn-default {
  background-color: #3498DB;
}
.btn-primary {
  background-color: #fff;
}
legend, form * {
  color: #111;
}
.form-control{
  border-color: #aaa;
}
.info>td {
  background-color: #3498DB !important;
  color: #eee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #3498DB;
  color: #fff;
}